<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<p th:text="#{home.bienvenida}">
			<span sec:authentication="principal.username" th:inline="text"></span>
		</p>

		<form class="navbar-form" action="/home/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Buscar por título de la oferta">
			</div>
			<button type="submit" class="btn btn-default"
				th:text="#{home.search}">Buscar</button>
		</form>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableOffers"
				id="tableOffers">
				<thead>
					<tr>
						<th class="col-md-1" th:text="#{tabla.titulo}">Título</th>
						<th th:text="#{tabla.descripcion}">Descripción</th>
						<th th:text="#{tabla.fecha}">Fecha</th>
						<th th:text="#{tabla.precio}">Precio</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="offer : ${offerList}">
						<td th:text="${offer.title}">1</td>
						<td th:text="${offer.description}"></td>
						<td th:text="${offer.date}"></td>
						<td th:text="${offer.price}"></td>
						<td><div th:if="${offer.sold}">
								<p style="color: red" th:text="#{tabla.vendida}">Vendida</p>
							</div>
							<div th:unless="${offer.sold}">
								<a th:href="${'/offer/buy/' + offer.id}"
									th:text="#{tabla.comprar}">Comprar</a>
							</div>
					</tr>
				</tbody>
			</table>

			<div th:if="${session.errorMoney}">
				<p th:text="#{Error.home.comprar}"
					style="color: red; font-size: 16; font-style: bold"></p>
			</div>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
